<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Insert title here</title>
    </head>
    <body>
        <h1>Orders page</h1>

        <div th:if="${orders.isEmpty()}">
            <div>Spiarişler Bulunamadı.</div>
        </div>

        <div th:each="order : ${orders}">
            <p>
                <span th:text="${order.orderId}"></span>
                <span th:text="${order.orderStatus}"></span>
                <span th:text="${order.userId}"></span>
            </p>
        </div>


    </body>
</html>